<div>
    <h2 translate="databasestoreApp.plato.home.title">Platos</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="plato.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
                        translate="databasestoreApp.plato.home.createLabel">Create new Plato
                    </span>
                </button>
            </div>
            <div class="col-md-8" id="buscador">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="search.color" id="search" placeholder="Buscador">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="databasestoreApp.plato.marca">Marca</span></th>
                    <th><span translate="databasestoreApp.plato.color">Color</span></th>
                    <th><span translate="databasestoreApp.plato.medidas">Medidas</span></th>
                    <th><span translate="databasestoreApp.plato.comentario">Comentario</span></th>
                    <th><span translate="databasestoreApp.plato.cantidad">Cantidad</span></th>
                    <th><span translate="databasestoreApp.plato.producto">producto</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="plato in platos | filter:search">
                    <td><a ui-sref="plato.detail({id:plato.id})">{{plato.id}}</a></td>
                    <td>{{plato.marca}}</td>
                    <td>{{plato.color}}</td>
                    <td>{{plato.medidas}}</td>
                    <td>{{plato.comentario}}</td>
                    <td>{{plato.cantidad}}</td>
                    <td>
                        <a ui-sref="producto.detail({id:plato.producto.id})">{{plato.producto.descripcion}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="plato.detail({id:plato.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="plato.edit({id:plato.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="plato.delete({id:plato.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
