
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySanitarioLabel" translate="databasestoreApp.sanitario.home.createOrEditLabel">Create or edit a Sanitario</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="sanitario.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="databasestoreApp.sanitario.modelo" for="field_modelo">Modelo</label>
            <input type="text" class="form-control" name="modelo" id="field_modelo"
                    ng-model="sanitario.modelo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="databasestoreApp.sanitario.salida" for="field_salida">Salida</label>
            <select class="form-control" name="salida" ng-model="sanitario.salida" id="field_salida">
                <option value="Horizontal" translate="databasestoreApp.EnSan.Horizontal">Horizontal</option>
                <option value="Vertical" translate="databasestoreApp.EnSan.Vertical">Vertical</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="databasestoreApp.sanitario.medidas" for="field_medidas">Medidas</label>
            <input type="text" class="form-control" name="medidas" id="field_medidas"
                    ng-model="sanitario.medidas"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="databasestoreApp.sanitario.cantidad" for="field_cantidad">Cantidad</label>
            <input type="number" class="form-control" name="cantidad" id="field_cantidad"
                    ng-model="sanitario.cantidad"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="databasestoreApp.sanitario.comentario" for="field_comentario">Comentario</label>
            <input type="text" class="form-control" name="comentario" id="field_comentario"
                    ng-model="sanitario.comentario"
                     />
        </div>

        <div class="form-group">
            <label translate="databasestoreApp.sanitario.producto" for="field_producto">producto</label>
            <select class="form-control" id="field_producto" name="producto" ng-model="sanitario.producto" ng-options="producto as producto.descripcion for producto in productos track by producto.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
