<div>
    <h2 translate="databasestoreApp.sanitario.home.title">Sanitarios</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="sanitario.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
                        translate="databasestoreApp.sanitario.home.createLabel">Create new Sanitario
                    </span>
                </button>
            </div>
            <div class="col-md-8" id="buscador">
                <p> <img src="assets/images/Botón_azul.svg.png" width="25" height="25">  Selecciona por que caracteristica deseas buscar</p>

                <form name="searchForm" class="form-inline">
                    <select class="form-control" ng-model="busqueda" ng-change="orden(busqueda)">


                        <option value="modelo">Modelo</option>
                        <option value="salida">Salida</option>
                        <option value="medidas">Medidas</option>
                        <option value="cantidad">Cantidad</option>
                        <option value="comentario">Comentario</option>

                    </select>


                    <div class="form-group">
                        <input type="text" ng-if="tipo=='modelo'" class="form-control" ng-model="search.modelo" id="searchmodelo" placeholder="Buscador">
                        <input type="text" ng-if="tipo=='salida'" class="form-control" ng-model="search.salida" ng-change="actualizar()" id="searchsalida" placeholder="Buscador">
                        <input type="text" ng-if="tipo=='medidas'" class="form-control" ng-model="search.medidas" ng-change="actualizar()" id="searchmedidas" placeholder="Buscador">
                        <input type="text" ng-if="tipo=='cantidad'" class="form-control" ng-model="search.cantidad" id="searchcantidad" placeholder="Buscador">
                        <input type="text" ng-if="tipo=='comentario'" class="form-control" ng-model="search.comentario" id="searchcomentario" placeholder="Buscador">
                    </div>

                    <button class="btn btn-info" ><span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="databasestoreApp.sanitario.modelo">Modelo</span></th>
                    <th><span translate="databasestoreApp.sanitario.salida">Salida</span></th>
                    <th><span translate="databasestoreApp.sanitario.medidas">Medidas</span></th>
                    <th><span translate="databasestoreApp.sanitario.cantidad">Cantidad</span></th>
                    <th><span translate="databasestoreApp.sanitario.comentario">Comentario</span></th>
                    <th><span translate="databasestoreApp.sanitario.producto">producto</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sanitario in sanitarios | filter:search">
                    <td><a ui-sref="sanitario.detail({id:sanitario.id})">{{sanitario.id}}</a></td>
                    <td>{{sanitario.modelo}}</td>
                    <td translate="{{'databasestoreApp.EnSan.' + sanitario.salida}}">{{sanitario.salida}}</td>
                    <td>{{sanitario.medidas}}</td>
                    <td>{{sanitario.cantidad}}</td>
                    <td>{{sanitario.comentario}}</td>
                    <td>
                        <a ui-sref="producto.detail({id:sanitario.producto.id})">{{sanitario.producto.descripcion}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="sanitario.detail({id:sanitario.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sanitario.edit({id:sanitario.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sanitario.delete({id:sanitario.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
