<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<div>
    <h2 translate="databasestoreApp.producto.home.title">Productos</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="producto.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
                        translate="databasestoreApp.producto.home.createLabel">Create new Producto
                    </span>
                </button>

            </div>

            <div class="col-md-8" id="buscador">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="search.descripcion" id="search" placeholder="query">
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div id="titprod"><img src="assets/images/Botón_azul.svg.png" width="25" height="25">
        Aqui Creamos los grupos de los productos
    </div>
    <br/>

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="databasestoreApp.producto.descripcion">Descripcion</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="producto in productos | filter:search">
                    <td><a ui-sref="producto.detail({id:producto.id})">{{producto.id}}</a></td>
                    <td>{{producto.descripcion}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="producto.detail({id:producto.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="producto.edit({id:producto.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="producto.delete({id:producto.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
