
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCalentadorLabel" translate="databasestoreApp.calentador.home.createOrEditLabel">Create or edit a Calentador</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="calentador.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="databasestoreApp.calentador.modelo" for="field_modelo">Modelo</label>
            <input type="text" class="form-control" name="modelo" id="field_modelo"
                    ng-model="calentador.modelo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="databasestoreApp.calentador.Gas" for="field_Gas">Gas</label>
            <select class="form-control" name="Gas" ng-model="calentador.Gas" id="field_Gas">
                <option value="Natural" translate="databasestoreApp.EnCal.Natural">Natural</option>
                <option value="Butano" translate="databasestoreApp.EnCal.Butano">Butano</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="databasestoreApp.calentador.litros" for="field_litros">Litros</label>
            <input type="number" class="form-control" name="litros" id="field_litros"
                    ng-model="calentador.litros"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="databasestoreApp.calentador.cantidad" for="field_cantidad">Cantidad</label>
            <input type="number" class="form-control" name="cantidad" id="field_cantidad"
                    ng-model="calentador.cantidad"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="databasestoreApp.calentador.comentario" for="field_comentario">Comentario</label>
            <input type="text" class="form-control" name="comentario" id="field_comentario"
                    ng-model="calentador.comentario"
                     />
        </div>

        <div class="form-group">
            <label translate="databasestoreApp.calentador.producto" for="field_producto">producto</label>
            <select class="form-control" id="field_producto" name="producto" ng-model="calentador.producto" ng-options="producto as producto.descripcion for producto in productos track by producto.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
