<div>
    <h2 translate="databasestoreApp.grifo.home.title">Grifos</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="grifo.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
                        translate="databasestoreApp.grifo.home.createLabel">Create new Grifo
                    </span>
                </button>
            </div>
            <div class="col-md-8" id="buscador">
                <p> <img src="assets/images/Botón_azul.svg.png" width="25" height="25">  Selecciona por que caracteristica deseas buscar</p>

                <form name="searchForm" class="form-inline">
                    <select class="form-control" ng-model="busqueda" ng-change="orden(busqueda)">


                        <option value="tipo">Tipo</option>
                        <option value="referencia">Referencia</option>
                        <option value="cantidad">Cantidad</option>
                        <option value="comentario">Comentario</option>

                    </select>


                    <div class="form-group">
                        <input type="text" ng-if="tipo=='tipo'" class="form-control" ng-model="search.tipo" ng-change="actualizar()" id="searchtipo" placeholder="Buscador">
                        <input type="text" ng-if="tipo=='referencia'" class="form-control" ng-model="search.referencia" id="searchreferencia" placeholder="Buscador">
                        <input type="text" ng-if="tipo=='cantidad'" class="form-control" ng-model="search.cantidad" id="searchcantidad" placeholder="Buscador">
                        <input type="text" ng-if="tipo=='comentario'" class="form-control" ng-model="search.comentario" id="searchcomentario" placeholder="Buscador">
                    </div>

                    <button class="btn btn-info" ><span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="databasestoreApp.grifo.tipo">Tipo</span></th>
                    <th><span translate="databasestoreApp.grifo.referencia">Referencia</span></th>
                    <th><span translate="databasestoreApp.grifo.cantidad">Cantidad</span></th>
                    <th><span translate="databasestoreApp.grifo.comentario">Comentario</span></th>
                    <th><span translate="databasestoreApp.grifo.producto">producto</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="grifo in grifos | filter:search">
                    <td><a ui-sref="grifo.detail({id:grifo.id})">{{grifo.id}}</a></td>
                    <td translate="{{'databasestoreApp.EnGrif.' + grifo.tipo}}">{{grifo.tipo}}</td>
                    <td>{{grifo.referencia}}</td>
                    <td>{{grifo.cantidad}}</td>
                    <td>{{grifo.comentario}}</td>
                    <td>
                        <a ui-sref="producto.detail({id:grifo.producto.id})">{{grifo.producto.descripcion}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="grifo.detail({id:grifo.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="grifo.edit({id:grifo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="grifo.delete({id:grifo.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
