
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myGrifoLabel" translate="databasestoreApp.grifo.home.createOrEditLabel">Create or edit a Grifo</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="grifo.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="databasestoreApp.grifo.tipo" for="field_tipo">Tipo</label>
            <select class="form-control" name="tipo" ng-model="grifo.tipo" id="field_tipo">
                <option value="Banera" translate="databasestoreApp.EnGrif.Banera">Banera</option>
                <option value="Columnas" translate="databasestoreApp.EnGrif.Columnas">Columnas</option>
                <option value="Cocina" translate="databasestoreApp.EnGrif.Cocina">Cocina</option>
                <option value="Monomandos" translate="databasestoreApp.EnGrif.Monomandos">Monomandos</option>
                <option value="Varios" translate="databasestoreApp.EnGrif.Varios">Varios</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="databasestoreApp.grifo.referencia" for="field_referencia">Referencia</label>
            <input type="text" class="form-control" name="referencia" id="field_referencia"
                    ng-model="grifo.referencia"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="databasestoreApp.grifo.cantidad" for="field_cantidad">Cantidad</label>
            <input type="number" class="form-control" name="cantidad" id="field_cantidad"
                    ng-model="grifo.cantidad"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="databasestoreApp.grifo.comentario" for="field_comentario">Comentario</label>
            <input type="text" class="form-control" name="comentario" id="field_comentario"
                    ng-model="grifo.comentario"
                     />
        </div>

        <div class="form-group">
            <label translate="databasestoreApp.grifo.producto" for="field_producto">producto</label>
            <select class="form-control" id="field_producto" name="producto" ng-model="grifo.producto" ng-options="producto as producto.descripcion for producto in productos track by producto.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
